- name: Executar Medição de Energia (Perf)
        run: |
          if [ -f go.mod ]; then go mod tidy; fi
          
          # Não precisa de sudo se você rodou o sysctl paranoid=-1 no host
          # Se não rodou, precisa de sudo aqui.
          python3 measure_energy.py --cmd "go test ./..." --output "dados_doutorado.csv"